<div class="channel-info">
  <div class="level-left">
  <h1 class="title is-2"><%= @channel.channel %></h1>
  </div>
  <div>
  <% if has_role?(:admin) %>

    <%= link_to edit_channel_path(@channel), class:"action" do %>
      <em class="action text-success">Edit</em>
    <% end %>
  <% end %>
  </div>
</div>

<div class="columns">
 <%= render 'shared/discussions' %>
 <%= render 'discussions/sidebar' %>
</div>

