$('<%= escape_javascript(render(@reply)) %>').appendTo('#discussion-replies');

$('#new_reply').trigger('reset')
$('#file').replaceWith("<div class='control' id='file'><label class='file optional' for='reply_image'>Image</label><input id='img' data-direct-upload-url='http://localhost:3000/rails/active_storage/direct_uploads' type='file' name='reply[image]'></div>")
