<div class="column is-3 is-offset-1">
  <p class="title-topic">Channels</p><hr>

  <ul class="list">
    <% @channels.each do |c| %>
    <li><%= link_to c.channel, c %></li>
    <% end %>
  </ul>

  <% if has_role?(:admin) %>
  <%= link_to 'New Channel', new_channel_path, class:'button create' %>
  <% end %>

</div>