
<% if @rooms.present? %>
<nav class="nav flex-column">
<div>
<p class="title-topic">Rooms</p><hr>
  </div>
  <ul class="list">
    <% @rooms.each do |room| %>
    <li><%= link_to room.name, room_path(room) %></li>
    <% end %>
  </ul>
</nav>
<% else %>
  <div class="text-muted">
  There are no rooms
  </div>
  <% end %>
<% if has_role?(:admin) %>
  <div class="mb-3">
    <%= link_to new_room_path, class: 'btn create' do %>
      Create a room
    <% end %>
  </div>
<% end %>
