/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 */

@import "bulma";
@import "functions";
@import "chat_room";
$sizes: (); // <-- Fix here
@import "bootstrap";
@import "jquery-ui";

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.textarea {
  height: 100px;
  font-family: Monaco, san-serif;
  padding: 1rem;
}

.discussion-title {
  margin-bottom: 0;
}

.section {
  margin: 0 auto;
  max-width: 1100px;
}

.header {
  background-color: red; 
  background-image: linear-gradient(-90deg, #4568DC, #b06ab3);
  height: 75px;

  .navbar {
    margin: 0 auto;
    max-width: 1100px;
    background-color: transparent;
    height: 100%;

    .home {
      float: left;

      .name {
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        color: white;
        margin-top: -8px;
        margin-bottom: 0;
      }
      
      .name:hover {
        color: white;
        text-decoration: none;
      }
  
    i {
      font-size: 40px;
      color: wheat;
      padding: 10px;
      }
    }

    .search {
      float: right;
    }
  }
}

.create {
  background-color: #eaf5fd;
  color: #1da1f2;
  padding: 14px 20px;
  border: none;
  font-weight: bold;
}

.create:hover {
  background-color: #1da1f2;
  color: #eaf5fd;
  padding: 14px 20px;
  border: none;
  font-weight: bold;
  text-decoration: none;
}

.create:focus {
  border-color: #1da1f2;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #71c9f8;
  outline: none;
}

.create:active {
  background-color: #006dbf;
  border-color: #006dbf;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #1da1f2;
  outline: none;
}

.save {
  background-color: #eaf5fd;
  color: #1da1f2;
  border: none;
  font-weight: bold;
}

.save:hover {
  background-color: #1da1f2;
  color: #eaf5fd;
  border: none;
  font-weight: bold;
  text-decoration: none;
}

.save:focus {
  border-color: #1da1f2;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #71c9f8;
  outline: none;
}

.save:active {
  background-color: #006dbf;
  border-color: #006dbf;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #1da1f2;
  outline: none;
}

.log {
  li {
    margin-right: 10px;
  }
}

.title-topic {
  font-size: 30px;
  font-weight: 700;
}

.title-topic-channel {
  font-size: 30px;
  font-weight: 700;
  float: left;
}

.content-topic {
  margin-bottom: 0;

  p {
    margin-bottom: 0;
  }
}

.action {
  margin-right: 5px;
}

.action:hover {
  text-decoration: none;
}

.table {
  margin-top: 80px;

  tr {
    border-bottom: 1px solid #dee2e6;

    td {
      vertical-align: middle;

      .action-channel {
        float: right;

        i {
          font-size: 25px;
          margin-right: 10px;
        }
      }
    }
  }
}

.easy-autocomplete-container {
  left: -7px;
  position: absolute;
  width: 99%;
  z-index: 2;
  margin-top: 36px;
}

.channel-content {
  width: 50%;
  margin: 0 auto;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
  transition: transform .2s;
}

.avatar:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.topic-discussion {
  margin-bottom: 10px;
}

.channel-info {
  margin-bottom: 50px;
}

